@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Merriweather';
    src: url('../public/assets/fonts/Merriweather/Merriweather-Regular.ttf') format('woff2'),
}



body {

    font-family: 'Merriweather', serif;
}


.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    /* Sidebar hidden off-screen */
    width: 220px;
    height: 100%;
    background-color: #1E1E1E;
    transition: all 0.3s ease;
    z-index: 100;
}

.sidebar.active {
    left: 0;
    /* Sidebar slides into view */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* 
Sign in button  */

.signin {
    float: right;
    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    gap: 0.75rem;
    color: #eeeeee;
    background-color: #555553;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0, 0.87, 0.12, 1);
}

.signin:active {
    transform: scale(0.975);
}

button svg {
    height: 24px;
    width: auto;
}